<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Animación Automotriz</title>
  <!-- Vincular CSS externo -->
  <link rel="stylesheet" href="../../static/estilos/animacion.css">
</head>
<body>
  <canvas id="c"></canvas>
  <div id="ui"><button id="ignite">IGNITE</button></div>
  <img id="car" src="../../static/images/logo.jpg" alt="Coche">
  <div id="mainContent">AUTOTEC MOTORS</div>

  <audio id="engine" src=".../../static/images/skyline.mp3" preload="auto"></audio>

  <!-- Vincular JS externo -->
  <script src="../../static/javascript/animacion.js"></script>
</body>
</html>

